In [1]:
# Import dependencies
import pandas as pd

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# Read the CSV and Perform Basic Data Cleaning

In [2]:
# Read in data
df = pd.read_csv("csv_output/claims_summary_uspc_df.csv")

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df.dropna(how='all')
df.head()

,Unnamed: 0,patent_number,uspc_class,claim_no,total_word_ct,total_char_ct,average_word_ct_eachclaim,average_char_ct_eachclaim
0,0,RE30349,220,6,3782,23649,630,3942
1,1,RE30153,144,14,3194,19884,228,1420
2,2,RE30744,365,10,2679,18543,268,1854
3,3,RE29796,194,6,1114,7151,186,1192
4,4,RE30870,137,9,1762,11244,196,1249

In [3]:
df.count()

Unnamed: 0                   14945
patent_number                14945
uspc_class                   14945
claim_no                     14945
total_word_ct                14945
total_char_ct                14945
average_word_ct_eachclaim    14945
average_char_ct_eachclaim    14945
dtype: int64

In [4]:
df.dtypes

Unnamed: 0                    int64
patent_number                object
uspc_class                   object
claim_no                      int64
total_word_ct                 int64
total_char_ct                 int64
average_word_ct_eachclaim     int64
average_char_ct_eachclaim     int64
dtype: object

In [5]:
print(df["uspc_class"].unique())

['220' '144' '365' '194' '137' '000' '435' '156' '340' '423' '425' '219'
 '428' '062' '131' '222' '307' '074' '128' '176' '148' '356' '123' '209'
 '270' '364' '114' '271' '361' '051' '260' '073' '008' '313' '525' '249'
 '166' '055' '214' '033' '264' '426' '030' '046' '132' '101' '060' '324'
 '315' '029' '072' '503' '250' '277' '999' '215' '358' '241' '061' '430'
 '273' '424' '075' '164' '210' '357' '119' '429' '604' '536' '303' '023'
 '285' '206' '198' '354' '474' '057' '070' '047' '208' '562' '310' '564'
 '523' '367' '254' '104' '418' '227' '308' '252' '200' '052' '228' '162'
 '290' '174' '028' '106' '325' '544' '528' '040' '414' '239' '244' '192'
 '034' '427' '017' '152' '343' '560' '014' '318' '083' '294' '177' '280'
 '112' '542' '011' '350' '053' '378' '339' 'PLT' '108' '016' '160' '175'
 '187' '346' '135' '272' '096' '233' '056' '422' '433' '024' '410' '415'
 '013' '297' '382' '403' '032' '091' '204' '355' '236' '071' '179' '134'
 '099' '085' '140' '065' '362' '526' '180' '455' '360' '404' '546' '368'
 '436' '405' '044' '118' '165' '138' '242' '038' '100' '330' '084' '111'
 '141' '369' '126' '292' '372' '225' '267' '093' '064' '136' '323' '352'
 '068' '366' '036' '351' '238' '092' '299' '417' '003' '521' '248' '188'
 '400' '081' '066' '172' '401' '124' '335' '211' '237' '493' '416' '110'
 '266' '434' '235' '178' '157' '015' '322' '408' '229' '182' '005' '431'
 '105' '338' '549' '037' '370' '004' '312' '043' '142' '556' '102' '082'
 '464' '002' '251' '139' '406' '076' '524' '261' '384' '059' '446' '336'
 '376' '086' '296' '407' '514' '419' '246' '190' '411' '202' '125' '181'
 '374' '548' '441' '494' '530' '432' '363' '226' '375' '381' '048' '331'
 '150' '159' '333' '049' '502' '568' '371' '501' '212' '007' '623' '019'
 '439' '332' '173' '383' '585' '379' '223' '342' '540' '221' '377' '256'
 '440' '122' '224' '116' '453' '149' '269' '282' '337' '413' '409' '438'
 '341' '203' '293' '552' '606' '054' '127' '388' '359' '395' '475' '392'
 '283' '348' '445' '109' '380' '301' '353' '027' '257' '713' '482' '385'
 '345' '462' '213' '452' '602' '600' '305' '205' '711' '095' '042' '402'
 '505' '558' '300' '420' '510' '184' '298' '504' '117' '349' '327' '507'
 '708' '473' '470' '607' '570' '193' '454' '326' '522' '373' '534' '320'
 '442' '463' '279' '588' '554' '396' '399' '706' '063' '386' '800' '186'
 '169' '712' '704' '347' '714' '707' '089' '450' '705' '710' '451' '196'
 '709' '701' '700' '725' '477' '012' '702' '512' '518' '717' '508' '483'
 '715' '716' '726' '216' '720' '601' '516' '472' '329' '476' '719' '398'
 '718' '291' '700.0' '382.0' '370.0' '713.0' '365.0' '55.0' '718.0'
 '709.0' '379.0' '514.0' '81.0' '62.0' '348.0' '369.0' '137.0' '455.0'
 '428.0' '264.0' '358.0' '711.0' '717.0' '375.0' '600.0' '296.0' '706.0'
 '705.0' '340.0' '250.0' '439.0' '4.0' '712.0' '714.0' '708.0' '381.0'
 '429.0' '710.0' '435.0' '702.0' '239.0' '345.0' '703' '426.0' '359.0'
 '349.0' '257.0' '313.0' '475.0' '210.0' '254.0' '463.0' '385.0' '307.0'
 '386.0' '134.0' '438.0' '297.0' '602.0' '399.0' '607.0' '726.0' '5.0'
 '362.0' '430.0' '560.0' '701.0' '707.0' '315.0' '544.0' '703.0' '405.0'
 '331.0' '436.0' '166.0' '323.0' '380.0' '367.0' '361.0' '716.0' '493.0'
 '424.0' '477.0' '725.0' '205.0' '356.0' '363.0' '715.0' '248.0' '342.0'
 '604.0' '383.0' '106.0' '128.0' '374.0' '291.0' '123.0' '564.0' '623.0'
 '156.0' '2.0' '704.0' '219.0' '396.0' '392.0' '320.0' '42.0' '290.0'
 '606.0' '341.0' '204.0' '351.0' '84.0' '148.0' '324.0' '47.0' '525.0'
 '206.0' '398.0' '330.0' '526.0' '60.0' '174.0' '568.0' '111.0' '15.0'
 '355.0' '376.0' '223.0' '83.0' '252.0' '227.0' '241.0' '347.0' '29.0'
 '360.0' '327.0' '164.0' '427.0' '169.0' '303.0' '220.0' '235.0' '719.0'
 '37.0' '378.0' '343.0' '353.0' '52.0' '524.0' '138.0' '326.0' '536.0'
 '112.0' '124.0' '425.0' '173.0' '570.0' '800.0' '372.0' '271.0' '464.0'
 '216.0' '270.0' '200.0' '585.0' '521.0' '377.0' '523.0' '301.0' '368.0'
 '850.0' 'D14' 'D27' 'D10' 'D21' 'D13' 'D08' 'D24' 'D11' 'D26' 'D07' 'D23'
 'D34' 'D17' 'D02' 'D09' 'D15' 'D19' 'D29' 'D03' 'D20' 'D16' 'D04' 'D06'
 'D18']

In [6]:
mechanism = df.loc[(df['uspc_class']) == '074', :]
mechanism

,Unnamed: 0,patent_number,uspc_class,claim_no,total_word_ct,total_char_ct,average_word_ct_eachclaim,average_char_ct_eachclaim
22,22,RE30525,074,29,32068,227552,1106,7847
29,29,RE30135,074,50,41511,269290,830,5386
51,51,RE29872,074,13,1275,7787,98,599
94,94,RE30334,074,5,4294,28723,859,5745
122,122,RE30120,074,20,5351,32758,268,1638
133,133,RE29993,074,1,1763,11191,1763,11191
303,303,RE30440,074,13,2888,16858,222,1297
316,316,RE30423,074,4,798,6019,200,1505
674,674,RE30981,074,69,4750,29076,69,421
761,761,RE30932,074,1,1435,8887,1435,8887
805,805,RE31296,074,11,6242,40326,567,3666
813,813,RE31154,074,3,990,6529,330,2176
1267,1267,RE31196,074,6,658,4146,110,691
1317,1317,RE32125,074,67,93064,601552,1389,8978
1514,1514,RE31627,074,12,2796,17714,233,1476
1602,1602,RE31361,074,12,834,5303,70,442
1732,1732,RE31451,074,49,5604,35973,114,734
1886,1886,RE31956,074,13,576,3890,44,299
1904,1904,RE31713,074,8,463,2799,58,350
1971,1971,RE32175,074,10,740,4785,74,478
2262,2262,RE32546,074,9,799,4781,89,531
2373,2373,RE32433,074,11,616,4020,56,365
2885,2885,RE33058,074,68,7175,42988,106,632
2897,2897,RE33126,074,10,1083,6900,108,690
3359,3359,RE33551,074,6,406,2626,68,438
3500,3500,RE33950,074,11,2115,14618,192,1329
3552,3552,RE34064,074,26,1546,9707,59,373
3580,3580,RE34023,074,2,822,5189,411,2594
3658,3658,RE34260,074,21,13952,91273,664,4346
3743,3743,RE34493,074,36,3325,19895,92,553
3806,3806,RE34146,074,16,1035,6771,65,423
3866,3866,RE34142,074,10,1138,7514,114,751
3891,3891,RE34359,074,11,2509,15327,228,1393
4047,4047,RE34565,074,1,260,1849,260,1849
4793,4793,RE35425,074,10,904,5617,90,562
5363,5363,RE39487,074,77,7147,43898,93,570
6110,6110,RE38691,074,38,3270,21010,86,553
6173,6173,RE39327,074,33,2170,13168,66,399
6211,6211,RE36722,074,23,18765,118237,816,5141
7033,7033,RE38615,074,27,2121,13472,79,499
7044,7044,RE37731,074,5,519,3557,104,711
7822,7822,RE42607,074,57,3313,19986,58,351
7835,7835,RE44839,074,59,2880,16790,49,285
7991,7991,RE39757,074,8,578,3583,72,448
8408,8408,RE42767,074,10,620,3550,62,355
8487,8487,RE39598,074,11,1878,12326,171,1121
8488,8488,RE39669,074,18,1133,6945,63,386
8686,8686,RE39440,074,18,1763,10680,98,593
8820,8820,RE40615,074,52,1671,9957,32,191
9777,9777,RE43074,074,19,1868,11587,98,610

In [7]:
mechanism.to_csv("csv_output/mechanism.csv")

In [8]:
df = df[['uspc_class', 'claim_no', 'total_word_ct', 'total_char_ct', 'average_word_ct_eachclaim', 'average_char_ct_eachclaim']]

In [9]:
display(df)

,uspc_class,claim_no,total_word_ct,total_char_ct,average_word_ct_eachclaim,average_char_ct_eachclaim
0,220,6,3782,23649,630,3942
1,144,14,3194,19884,228,1420
2,365,10,2679,18543,268,1854
3,194,6,1114,7151,186,1192
4,137,9,1762,11244,196,1249
...,...,...,...,...,...,...
14940,D15,1,12,74,12,74
14941,D15,1,12,74,12,74
14942,D18,1,11,66,11,66
14943,D09,1,10,59,10,59
14944,D26,1,10,58,10,58

In [10]:
df["uspc_class"].value_counts()

370      348
455      297
514      293
428      237
375      236
        ...
000        1
227.0      1
470        1
089        1
347.0      1
Name: uspc_class, Length: 616, dtype: int64

In [11]:
df_groupby = df.groupby("uspc_class").agg({'claim_no': ['mean', 'min', 'max']})
df_groupby

             claim_no
                 mean min  max
uspc_class
000         10.000000  10   10
002         20.500000   2  101
003         19.500000  12   27
004         18.153846   5   50
005         22.000000   4   64
...               ...  ..  ...
D26          1.000000   1    1
D27          1.000000   1    1
D29          1.000000   1    1
D34          1.000000   1    1
PLT          1.000000   1    1

[616 rows x 3 columns]

In [13]:
df_groupby.reset_index(inplace=True)

In [14]:
df_groupby.loc[(df_groupby['uspc_class']) == '074', :]

   uspc_class claim_no
                  mean min max
55        074    21.98   1  77